@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: 'Poppins';
}


body {
    min-height: 100vh;
    background: rgb(60, 109, 237);
    background: linear-gradient(180deg, rgba(60, 109, 237, 1) 0%, rgba(70, 153, 236, 1) 25%, rgba(46, 183, 213, 1) 50%, rgba(60, 212, 208, 1) 73%, rgba(59, 177, 142, 1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    height: 600px;
    border-radius: 5px;
    padding: 50px 30px 50px 30px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.todo {
    font-size: 32px;
    font-weight: 600;
}

.pesquisar {
    display: flex;
    align-items: center;
    width: 90%;

}

.pesquisar input {
    width: 100%;
    height: 50px;
    outline: none;
    padding: 0 20px;
}


.pesquisar button {
    height: 100%;
    width: 60px;
    border: none;
    background-color: rgba(119, 119, 119, 0.644);
    color: white;
    font-size: 30px;
}

.tarefas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.task {
    display: flex;
    width: 100%;
    height: auto;
}

.textbox {
    background-color: rgba(255, 255, 255, 0.733);
    max-height: 90px;
    height: auto;
    width: 90%;
    padding: 10px 20px 10px 20px;
    align-items: center;
    display: flex;
    word-break: break-all;
    overflow: auto;
}


.tarefas button {
    height: 40px;
    width: 40px;
    border: none;
    background-color: rgb(212, 212, 212);
}

.NewTask {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.check {
    background-color: rgb(159, 224, 159);
}

.delete {
    background-color: rgb(245, 149, 149);
}

img {
    width: 50px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0px;
}


::-webkit-scrollbar-thumb {
    background: #8b8b8b85;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(138, 138, 138, 0.295);
}